<h1>Shop#Edit</h1>
<p><%= @shop.name %>の内容を編集します。</p>

<table>
    <%= form_for(@shop, url:{controller:'shops', action:'edit', id:@shop.id}) do |form| %>
    <tr><th>店名</th>
        <td><%= form.text_field :name %></td>
    </tr>
    <tr><th>ジャンル</th>
        <td><%= form.text_field :genre %></td>
    </tr>
    <tr><th>営業時間</th>
        <td><%= form.text_field :business_hours %></td>
    </tr>
    <tr>
        <th>URL</th>
        <td><%= form.text_field :url %></td>
    </tr>
    <tr>
        <th>MEMO</th>
        <td><%= form.text_area :memo,{cols:40, rows:10} %></td>
    </tr>
    <tr><th></th>
        <td><%= form.submit "更新" %></td>
    </tr>
    <% end %>
</table>

<p class="link"><a href="/shops">&lt;&lt;トップページに戻る</a></p>