<h1>Shops#Find</h1>

<p>データ検索フォーム</p>


<%= search_form_for @q do |f| %>
    <%= f.label :name ,"店名" %>
    <%= f.search_field :name_cont %>
    
    <%= f.label :genre ,"ジャンル" %>
    <%= f.search_field :genre_cont %>
    
    <%= f.label :business_hours ,"営業時間" %>
    <%= f.search_field :business_hours_cont %>
    
    <%= f.submit "検索" %>
<% end %>

<table>
    <tr>
        <th>ID</th><th>店名</th><th>ジャンル</th><th colspan="2"></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td width="35px"><%= obj.id %></td>
        <td width="40%"><a href="/shops/<%= obj.id %>"><%= obj.name %></a></td>
        <td width="40%"><a href="/shops/<%= obj.id %>"><%= obj.genre %></a></td>
        <td width="40px"><a href="/shops/edit/<%= obj.id %>">編集</a></td>
        <td width="40px"><a href="javascript:delData(<%= obj.id %>);">削除</a></td>
    </tr>
    <% end %>
</table>