<h1><%= @title %></h1>
<p><%= @msg %></p>

<%= form_tag i_informations_index_path, :method => 'post' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "ラーメン店で検索する", :name => nil %>
  </p>
<% end %>



<!--<table>-->
<!--    <%= form_tag(controller: "i_informations", action: "index") do %>-->
<!--    <tr><th>ラーメン店を検索</th></tr>-->
<!--        <td><%= text_field_tag("検索") %></td></tr>-->
<!--    <tr>-->
<!--    <tr><th>値段を検索</th></tr>-->
<!--        <td><%= text_field_tag("検索") %></td></tr>-->
<!--    <tr><th></th>-->

<!--        <td><%= submit_tag("Click") %></td></tr>-->
<!--    <% end %>-->
<!--</table>-->
<!--<hr>-->
<table>
    <tr>
        <th>ID</th><th>店名</th><th>値段</th><th>ジャンル</th><th>営業時間</th><th>URL</th><th>一言</th>
    </tr>
    <% @rinfo.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><%= obj.name %></td>
        <td><%= obj.price %></td>
        <td><%= obj.genre %></td>
        <td><%= obj.business_hours %></td>
        <td><%= obj.url %></td>
        <td><%= obj.memo %></td>
    </tr>
    <% end %>
</table>