<h1><%= @title %></h1>
<p><%= @msg %></p>


<table>
    <tr>
        <th>ID</th><th>店名</th><th>値段</th><th>ジャンル</th><th>営業時間</th><th>URL</th><th>一言</th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><%= obj.name %></td>
        <td><%= obj.price %></td>
        <td><%= obj.genre %></td>
        <td><%= obj.business_hours %></td>
        <td><%= obj.url %></td>
        <td><%= obj.memo %></td>
    </tr>
    <% end %>
</table>