<div class="linktag">
<ul>
<li class="tab">検索</li>
<li class="tab">写真</li>
<li class="tab">詳細</li>
</ul>
<h2>池袋のマップ</h2>
</div>

<div id='map'></div>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeI6SF9OMNptxEMnmDkeHlo8hfz4DLw5M&callback=initMap" async defer></script>


<p><strong>データ検索フォーム</strong></p>
<div class="datasearch">


<div class="datasearch_field">
  <img class="iimg" src="<%= asset_path "ikebukuro_hiru.jpg" %>" alt="池袋東武の写真" title="池袋東武">
</div>

<div class="datasearch_table">
<table>
<%= search_form_for(@q1, url:stores_index_path, method: :post, html: {class: 'hoge'}) do |f| %>
  <tr>
    <th><%= f.label :name ,"店名" %></th>
    <td><%= f.search_field :name_cont %></td>
  </tr>
  <tr>
    <th><%= f.label :genre ,"ジャンル" %></th>
    <td><%= f.search_field :genre_cont %></td>
  </tr>
  <tr>
    <th><%= f.label :business_hours ,"営業時間" %></th>
    <td><%= f.search_field :business_hours_cont %></td>
  </tr>
    <th></th>
    <td><%= f.submit "検索" %></td>
  </tr>
<% end %>
</table>
</div>

<div class="datasearch_field2">
  <img class="iimg" src="<%= asset_path "ikebukuro_yakei.jpg" %>" alt="池袋東武の写真" title="池袋東武">
</div>

</div>

<div class="footer">

<p><strong>検索結果</strong></p>

<div class="search_result">
<table>
    <tr>
        <th>店名</th><th>ジャンル</th><th>営業時間</th>
    </tr>
    <% @stores.each do |obj| %>
    <tr>
        <td width="40%"><a href="/stores/<%= obj.id %>"><%= obj.name %></a></td>
        <td width="40%"><a href="/stores/<%= obj.id %>"><%= obj.genre %></a></td>
        <td width="40%"><a href="/stores/<%= obj.id %>"><%= obj.business_hours %></a></td>
    </tr>
    <% end %>
</table>
</div>

</div>
