<div class="linktag">
<ul>
<li class="tab">検索</li>
<li class="tab">写真</li>
<li class="tab">詳細</li>
</ul>
<h2>お店紹介</h2>
</div>

<p class="show_p"><%= @data.name %></p>

<div class="details">

<div class="text_left">
<pre>
    <table>
        <tr><th>店名</th>
            <td><%= @data.name %></td></tr>
        <tr><th>ジャンル</th>
            <td><%= @data.genre %></td></tr>
        <tr><th>営業時間</th>
            <td><%= @data.business_hours %></td></tr>
        <tr><th>URL</th>
            <td><%= @data.url %></td></tr>
        <tr><th>MEMO</th>
            <td><%= @data.memo %></td></tr>

    </table>
</pre>
</div>

</div>

<P class="link"><a href="/shops">&lt;&lt;トップページに戻る</a></P>